<style>

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #000;
}


th, td {
  padding: 20px;
  border: 1px solid #000;
}

</style>


<table>
  <thead>
    <tr>
        <th scope="col">Estudiante</th>
        {{#nombres_objetivos}}
            <th scope="col">  {{nombre_objetivo}} </th>
        {{/nombres_objetivos}}
    </tr>
  </thead>

{{#progreso}}
  <tbody>
    <tr>
      <td scope="row">{{nombre_estudiante}}</td>
      {{#progreso}}
        <td>{{progreso_user}}%</td>
      {{/progreso}}
    </tr>

  </tbody>

{{/progreso}}
</table>




