<style>
table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #000;
}
th, td {
  padding: 20px;
  border: 1px solid #000;
}
</style>


<table>
  <thead>
    <tr>
        <th scope="col">Estudiante</th>
        {{#nombres_objetivos}}
            {{#nombre_objetivo}}
                <th scope="col"> {{nombre_objetivo}} </th>
            {{/nombre_objetivo}}

        {{/nombres_objetivos}}
    </tr>
  </thead>


  <tbody>

  {{#progreso}}
    <tr>
      <td scope="row">{{nombre_estudiante}}</td>
      {{#progreso}}

        {{#progreso_user}}
            <td>{{progreso_user}}%</td>
        {{/progreso_user}}

        {{^progreso_user}}
            <td>0%</td>
        {{/progreso_user}}

      {{/progreso}}
    </tr>
    {{/progreso}}
  </tbody>


</table>